.add-recipe-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-recipe-row {
    display: flex;
    flex-direction: column;
    gap: .3rem;

    span {
        font-size: 1.25rem;
    }

    input {
        min-height: 2rem;
        font-size: 1.25rem;
    }

    textarea {
        min-height: 8rem;
        font-size: 1.25rem;
    }
}